// variables
$fontMain: "Relaway"
$fontPara: "Lato"

//media queries
//http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
$information-phone: "only screen and (max-width : 20.000em)"
$break-small: 26.250em

// styles

.vertically-centered
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -ms-flex-wrap:  wrap
  flex-wrap:  wrap

h2,
h3
  font-family: $fontMain, sans-serif
  // font-weight: 600
  color: #0d2c40
  color: #727272
  text-transform: uppercase
  letter-spacing: 0.063em

.wrap
  max-width: 70em
  width: 100%
  margin: 0 auto
